body{
    background-color: hsl(220, 15%, 55%);
}

.container{
    width: 33%;
    top: 10%;
    border-radius: 10%;
    position: relative;
    margin-left: 30%;
    margin-top:5%;
    box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.6);
    background-color: hsl(0, 0%, 100%);
}

img{
    position: relative;
    margin-left: 20%;
    margin-top: 10%;
    width: 40%;
    border-radius:10%;
    width:60%; 
}

h3{
    text-align: center
}

p{
    font-size: 15px; 
    text-align: center;
}

