@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');
body{
    background-color: hsl(220, 15%, 55%);
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 50vh;
    border-radius: 4%;
    position: relative;
    margin-left: 35%;
    margin-top:1%;
    box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.6);
    background-color: hsl(0, 0%, 100%);
}

img{
    position: relative;
    margin-left: 10px;
    margin-top: 3%;
    width: 40%;
    border-radius:10%;
    width:94%; 
}

h3{
    margin: 10px;
    padding:10px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

p{
    font-size: 15px; 
    padding:15px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    position: relative;
    bottom: 20px;
    color: grey;
}

.attribution{
    position : relative;
    margin-left: 30% ;
    margin-top: 4%;
    font-size: 20px;
}

@media  (max-width: 475px) {

    .container{ 
        width: 26vh;
        border-radius: 4%;
        position: relative;
        margin-left: 7%;
        margin-top:1%;
        box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.6);
        background-color: hsl(0, 0%, 100%);
    }
    
    img{
        position: relative;
        margin-left: 13px;
        margin-top: 5%;
        border-radius: 2%;
        width: 88%;
    }

    .attribution{
        margin-left: 6%;
        position: relative;
    }
}

